$bgColor: #CF4647;
@import url( 'https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: mainLogoFont;
  src: url('../fonts/Luna.ttf');
}

body,
html {
  background-color: $bgColor;
}

#header {
  width: 50vw;
  font-family: mainLogoFont;
  margin: 40vh auto auto;
  font-size: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.22);
  padding: 50px;
  a {
    font-family: 'Roboto', sans-serif;


  & > i {
    transition: all .2s;

    &:hover {
      font-size: 60px;
    }
  }
}
}

a.nostyle {
  cursor: pointer;

  &:link {
    text-decoration: inherit;
    color: inherit;
  }

  &:visited {
    text-decoration: inherit;
    color: inherit;
  }
}

.spacer {
  background-color: blue;
  opacity: 0.2;
  height: 100px;
}
