$bgColor: #cf4647;
@import url( 'https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: mainLogoFont;
  src: url('../fonts/Luna.ttf');
}

body,
html {
  background-color: $bgColor;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
}

#header {
  font-family: mainLogoFont;
  margin: auto;
  font-size: 50px;
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.28);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  a {
    font-family: 'Roboto', sans-serif;

    & > i {
      transition: all 0.2s;

      &:hover {
        font-size: 60px;
      }
    }
  }
}

#footer {
  text-align: center;
  background-color: #212121;
  width: 100vw;
  left: 0;
  padding: 100px 0;

  #fork {
    font-size: 35px;
  }
}

a.nostyle {
  cursor: pointer;

  &:link {
    text-decoration: inherit;
    color: inherit;
  }

  &:visited {
    text-decoration: inherit;
    color: inherit;
  }
}

.spacer {
  background-color: blue;
  opacity: 0.2;
  height: 100px;
}

.prop {
  background-color: #fbf1f1;
  text-align: center;
  font-size: 15px;
  border-radius: 2px;
  margin: auto;
  width: 80vw;
  padding: 20px;
  color: #212121;
}

.prop-noBack {
  @extend .prop;
  color: #4a4949;
  background-color: transparent;
}

#properties {
  background-color: #e8e8e8;
  width: 100vw;
  padding: 50px 0 100px;
  color: #212121;
  margin-top: 50px;
}

#desc {
  padding-top: 100px;
  text-align: center;
}

#splash {
  height: 100vh;
  text-align: center;
  padding-bottom: 50px;

  .fa-chevron-circle-down {
    font-size: 25px;
  }
}

.centerView {
  display: flex;
  width: 100%;
  height: 80vh;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 35px;
}

h2 {
  margin-top: 75px;
}

h3 {
  margin: 50px 0;
}

hr {
  border-color: #212121;
  margin: 100px auto;
  width: 80vh;
  opacity: 0.2;
}

#moreInfoButton {
  cursor: pointer;

  i {
    margin-top: 25px;
  }
}

.code {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: inline-block;

  code {
    padding: 25px;
  }
  text-align: left;
}

.spaced {
  letter-spacing: 2px;
}

.sideByside{
  display: inline-grid;
}
